.container.custom__container {
  max-width: 1480px !important;
}

.accordion .accordion-item .accordion-button:not(.collapsed) {
  color: black;
}

.accordion-button:not(.collapsed) {
  background-color: unset !important;
  color: black !important;
}
.parent_collection {
  position: relative;
  padding: 25px 0;
}
ul.child_collection {
  position: absolute;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  /* transition-duration: 0.2s; */
  width: 250px;
  color: black;
  background-color: white;
}
ul.child_collection li {
  list-style: none;
}

ul.child_collection li:hover {
  background-color: #dbdbdb;
}
ul.child_collection li a {
  text-decoration: none;
  color: black;
}

ul.child_collection li p {
  margin: 0;
}

ul.child_collection li p:hover {
  margin: 0;
  color: #007bff;
}
ul.child_collection li path:hover {
  fill: #007bff;
}
.parent_collection:hover .child_collection {
  opacity: 1;
  visibility: visible;
}

.features-absolute {
  margin: -300px 0 0px;
}

.small-text {
  font-size: x-small;
}
.color-change:hover {
  color: blue;
}

.activeTab {
  background-color: #5a66f9;
  color: white !important ;
}

a {
  text-decoration: none;
}

.box {
  overflow: hidden;
  border-radius: 16px;
}

.card__box {
  /* padding-bottom: 82px; */
  overflow: hidden;
}

.box__content {
  position: absolute;
  bottom: -34px;
  width: 100%;
  z-index: 999;
  background: white;
  border-radius: 0 0 16px 16px;
  border: 1px solid #d5d5d5;
  overflow: hidden;
  transition: 0.1s ease-in-out;
}

/* .card__box img {
  width: 100%;
  transition: 0.1s ease-in-out;
} */
/* .card__box .main {
 position: relative;
} */
.card__box p {
  position: absolute;
  top: 20px;
  right: 20px;
}
.card__box .card_bottom {
  position: absolute;
  bottom: 119px;
  z-index: 9999;
}
.cart_icon {
  position: absolute;
  left: 50%;
  top: 37%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 40px;
  width: 40px;
  padding: 5px;
  border-radius: 50%;
  visibility: 0;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.card__box:hover .cart_icon{
  opacity: 1;
}
.card__box:hover .parent_img{
  opacity: 0.5;
}


/* .box:hover .card__box img {
  transform: scale(1.01);
} */

.box:hover .box__content {
  bottom: 0;
}

.new-slide {
  margin-top: -120px;
}
.pointer {
  cursor: pointer;
}
.text-text {
  font-size: 15px;
  color: black;
}

.hover-background:hover {
  background-color: #eeeffe;
}

/* prenav css */
.prenav {
  background-color: white;
  padding: 10px 20px;
  font-size: 12px;
}
.prenav_left {
  display: flex;
  gap: 20px;
}
.prenav_right {
  display: flex;
  gap: 20px;
}
.wallet_btn {
  color: rgb(255, 255, 255);
  background: linear-gradient(
    310.68deg,
    rgb(187, 107, 217) 2.43%,
    rgb(90, 102, 249) 76.12%
  );
  border: none;
  border-radius: 5px;
}
.option {
  padding: 15px;
}
.option:hover {
  background-color: #ededf1;
  padding: 15px;
  border-radius: 5px;
}
.icon {
  opacity: 0;
}
.option:hover .icon {
  opacity: 1;
  transition: 0.1s ease-in-out;
}
#topnav .navigation-menu > li > a {
  font-size: 18px;
}
.search {
  background-image: url("../assets/images/search.png");
  background-position: left 3% center;
  background-repeat: no-repeat;
}
.modal-dialog {
  max-width: 718px;
}


@media (max-width: 768px) {
  .new-slide {
    margin: 20px 0 0;
  }
}
