.accordion .accordion-item .accordion-button:not(.collapsed) {
  color: black;
}

.accordion-button:not(.collapsed) {
  background-color: unset !important;
  color: black !important;
}
.parent_collection {
  position: relative;
  padding: 25px 0;
}
ul.child_collection {
  position: absolute;
  z-index: 9999;
  opacity: 0;
  cursor: pointer;
  transition-duration: 0.3s;
  width: 250px;
  color: black;
  background-color: white;
}
ul.child_collection li {
  list-style: none;
}

ul.child_collection li:hover{
  background-color: #DBDBDB;
  
}
ul.child_collection li a {
  text-decoration: none;
  color: black;
}

ul.child_collection li p{
 margin: 0;
}

ul.child_collection li p:hover{
  margin: 0;
  color: #007bff;
 }
 ul.child_collection li path:hover{
  fill: #007bff;
 }
.parent_collection:hover .child_collection{
  opacity: 1;
}

.features-absolute{
  margin: -300px 0 0px;
}

.small-text{
  font-size: x-small;
}
.color-change:hover{
  color: blue;
}